<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>vx.sx.dark-mode</string>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/vadim/.dark-mode-notify-stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/vadim/.dark-mode-notify-stdout.log</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/dark-notify</string>
        <string>-c</string>
        <string>/bin/zsh /Users/vadim/.dotfiles/zsh/darkmode.zsh</string>
    </array>
</dict>
</plist>
