snippet !
	!important
snippet db
	display: block;${1}
snippet dib
	display: inline-block;${1}
snippet ma
	margin: ${1:10}px ${2:10}px ${3:10}px ${4:10}px;${5}
snippet pa
	padding: ${1:10}px ${2:10}px ${3:10}px ${4:10}px;${5}
snippet wi
	width: ${1:100%};${2}
snippet li
	line-height: ${1:1.2em};${2}
snippet he
	height: ${1:100px};${2}
snippet ba
	background: url(${1:/img/image.jpg}) ${2:no-repeat} ${3:0} ${4:0} ${5:#000000};${6}
